<a href="https://colab.research.google.com/github/Atharva2018/Travel-Recommender/blob/master/Webscrap/Hotel_Urls.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
plc="https://www.tripadvisor.in/Hotels-g608471-Alappuzha_Alappuzha_District_Kerala-Hotels.html https://www.tripadvisor.in/Hotels-g303881-Munnar_Idukki_District_Kerala-Hotels.html"
urls=[]
urls=list(plc.split(" "))
urls
# https://www.tripadvisor.in/SmartDeals-g297636-Thekkady_Idukki_District_Kerala-Hotel-Deals.html

['https://www.tripadvisor.in/Hotels-g608471-Alappuzha_Alappuzha_District_Kerala-Hotels.html',
 'https://www.tripadvisor.in/Hotels-g303881-Munnar_Idukki_District_Kerala-Hotels.html']

In [0]:
import pandas as pd
df_hotel_urls=pd.DataFrame(columns=['Hotel Links'])
# urls=["https://www.tripadvisor.in/Hotels-g303881-Munnar_Idukki_District_Kerala-Hotels.html"]

In [4]:
df_hotel_urls

Empty DataFrame
Columns: [Hotel Links]
Index: []

In [5]:
from bs4 import BeautifulSoup
import requests
for i in urls:
    r=requests.get(i)

    r

    c=r.content
    len(c)

    s=BeautifulSoup(c,"html.parser")
    len(s)

    name=s.find_all("div",{"class":"listing_title"})

    print(len(name),name[0].find('a').get('href'))

    minimum=min(len(name),20)
    minimum

    #putting all links in a list. Then list is inserted into dataframe
    list_urls=[]
    for i in range(0,minimum):
        list_urls.append("https://www.tripadvisor.in"+name[i].find('a').get('href'))



    import pandas as pd

#     df_hotel_urls=pd.DataFrame(list_urls,columns=['Hotel Links'])
    for i in list_urls:
        df_hotel_urls = df_hotel_urls.append({'Hotel Links':i}, ignore_index=True)


# df_hotel_urls

30 /Hotel_Review-g608471-d12130064-Reviews-Lake_Canopy-Alappuzha_Alappuzha_District_Kerala.html
30 /Hotel_Review-g8342248-d10390860-Reviews-Parakkat_Nature_Hotels_Resorts-Pallivasal_Munnar_Idukki_District_Kerala.html

In [0]:
import time

In [7]:
list_urls[13]

'https://www.tripadvisor.in/Hotel_Review-g5258996-d7272092-Reviews-Anna_Homestay-Chithirapuram_Munnar_Idukki_District_Kerala.html'

In [8]:
len(df_hotel_urls)

40

In [9]:
df_hotel_urls.head(5)

                                         Hotel Links
0  https://www.tripadvisor.in/Hotel_Review-g60847...
1  https://www.tripadvisor.in/Hotel_Review-g60847...
2  https://www.tripadvisor.in/Hotel_Review-g60847...
3  https://www.tripadvisor.in/Hotel_Review-g60847...
4  https://www.tripadvisor.in/Hotel_Review-g60847...

In [0]:
import pandas as pd
df_each_hotel=pd.DataFrame(columns=['Hotel Names','Price','Rating','Amenities','Info','Attractions','Address','City'])

In [0]:
for i in range(len(df_hotel_urls)) : 
    link=df_hotel_urls.iloc[i, 0]
    r=requests.get(link)
    
    c=r.content
    s=BeautifulSoup(c,"html.parser")
    
    dictionary_details={}
    
    #City
    try:
        list_place=[]
        place=s.find_all("span",{"class":"hotels-hotel-review-about-with-photos-PopIndex__popIndex--zNSxv"})
        list_place=list(place[0].text.split(" "))
        dictionary_details['City']=list_place[-1]#last one is always place name
    except:
        dictionary_details['City']=float('Nan')
        

    #Hotel Name
    name=s.find_all("h1")
    dictionary_details['Hotel Names']=name[1].text

    #Price
    try:
        price=s.find_all("div" ,{"class":"hotels-hotel-offers-DominantOffer__price--D-ycN"})
        dictionary_details['Price']=price[0].text[2:]
    except:
        try:
            
            price=s.find_all("div" ,{"class":"hotels-hotel-offers-DetailChevronOffer__price--py2LH"})
            dictionary_details['Price']=price[0].text[2:]
        except:
            dictionary_details['Price']=float('Nan')
    
    #Ratinf
    try:
        rating=s.find_all("span" ,{"class":"hotels-hotel-review-about-with-photos-Reviews__overallRating--vElGA"})
        dictionary_details['Rating']=rating[0].text
    except:
        dictionary_details['Rating']=float("Nan")
        
    #Aminitis
    try:
        amenities=s.find_all("div" ,{"class":"hotels-hr-about-amenities-AmenityGroup__amenitiesList--3MdFn"})
        dictionary_details['Amenities']=amenities[0].text
    except:
        dictionary_details['Amenities']=float('Nan')
        
    #INfo
    try:
        info=s.find_all("div" ,{"class":"cPQsENeY"})
        dictionary_details['Info']=info[0].text
    except:
        dictionary_details['Info']=float('Nan')

    #Attractions
#     print(attractions_nearby[4:][0].text,",", attractions_nearby[4:][1].text,",",
#     attractions_nearby[4:][2].text,",", attractions_nearby[4:][3].text)
#     len(attractions_nearby[4:])
    try:
        attractions_nearby=s.find_all("div" ,{"class":"hotels-hotel-review-location-NearbyLocation__name--1pAvV"})
        Full_Attraction=""
        Full_Attraction=attractions_nearby[4:][0].text, attractions_nearby[4:][1].text,attractions_nearby[4:][2].text, attractions_nearby[4:][3].text
        dictionary_details['Attractions']=Full_Attraction
    
    except:
        dictionary_details['Attractions']=float('Nan')


    

    #add
    try:
        address=s.find_all("span" ,{"class":"public-business-listing-ContactInfo__ui_link--1_7Zp public-business-listing-ContactInfo__level_4--3JgmI"})
        dictionary_details['Address']=address[0].text
    except:
        dictionary_details['Address']=float('Nan')

    
    df_each_hotel=df_each_hotel.append(dictionary_details,ignore_index=True)
    
    time.sleep(1)

In [12]:
df_each_hotel.head(5)

                  Hotel Names  ...       City
0                 Lake Canopy  ...  Alappuzha
1       Uday Backwater Resort  ...  Alappuzha
2           Warmth Lake Haven  ...  Alappuzha
3  Ramada by Wyndham Alleppey  ...  Alappuzha
4     Oxygen Resorts Alleppey  ...  Alappuzha

[5 rows x 8 columns]

In [0]:
df_each_hotel.to_csv('Travel_Rec1.csv',index=False, encoding = 'utf-8')

# Users dataset

In [14]:
df_users_data=pd.DataFrame(columns=["User Name","Profile link","Rating","Hotel Name"])
df_users_data

Empty DataFrame
Columns: [User Name, Profile link, Rating, Hotel Name]
Index: []

In [0]:
for i in range(len(df_hotel_urls)) : 
    link=df_hotel_urls.iloc[i, 0]
    r=requests.get(link)
    
    c=r.content
    s=BeautifulSoup(c,"html.parser")
    for i in range(0,5):
    #Name and link
        dictionary_details={}

        user_name=s.find_all("a",{"class":"ui_header_link social-member-event-MemberEventOnObjectBlock__member--35-jC"})
        review_user_name=user_name[i].text
        review_user_link="https://www.tripadvisor.in"+user_name[i].get("href") 
        dictionary_details["User Name"]=review_user_name
        dictionary_details["Profile link"]=review_user_link

        # user_rating[0]

        user_rating=s.find_all("div",{"class":"location-review-review-list-parts-RatingLine__bubbles--GcJvM"})
        rate=0
        x=user_rating[i]
        if x.find("span",{"class":"ui_bubble_rating bubble_50"}):
            rate=5
        elif x.find("span",{"class":"ui_bubble_rating bubble_40"}):
            rate=4
        elif x.find("span",{"class":"ui_bubble_rating bubble_30"}):
            rate=3
        elif x.find("span",{"class":"ui_bubble_rating bubble_20"}):
            rate=2
        elif x.find("span",{"class":"ui_bubble_rating bubble_10"}):
            rate=1

        dictionary_details["Rating"]=rate
        hotel_name=s.find_all("h1")
        dictionary_details['Hotel Name']=hotel_name[1].text
        df_users_data=df_users_data.append(dictionary_details,ignore_index=True)

In [16]:
df_users_data.head(5)

      User Name  ...   Hotel Name
0  Amittraveler  ...  Lake Canopy
1        Rachna  ...  Lake Canopy
2     Amey Naik  ...  Lake Canopy
3  IanGBradford  ...  Lake Canopy
4   lccarey2018  ...  Lake Canopy

[5 rows x 4 columns]

In [17]:
len(df_users_data)

200

# Itterating through users data

In [0]:
l=(df_users_data.iloc[0,1])

In [19]:
name=df_users_data.iloc[1,0]
name

'Rachna'

In [0]:
r=requests.get(l)

c=r.content
s=BeautifulSoup(c,"html.parser")

In [0]:
each_user_rating_place=s.find_all("div",{"class":"social-section-review-ReviewSection__review--1bQxT social-section-review-ReviewSection__linked--kI3zg"})
rate=0
x1=each_user_rating_place[0]
if x1.find("span",{"class":"ui_bubble_rating bubble_50"}):
    rate=5
elif x1.find("span",{"class":"ui_bubble_rating bubble_40"}):
    rate=4
elif x1.find("span",{"class":"ui_bubble_rating bubble_30"}):
    rate=3
elif x1.find("span",{"class":"ui_bubble_rating bubble_20"}):
    rate=2
elif x1.find("span",{"class":"ui_bubble_rating bubble_10"}):
    rate=1
#print(x1)

In [22]:
city=s.find_all("div",{"class":"social-poi-POIObject__poi_location--3hevu social-poi-POIObject__with_bubble--bbi8o"})
city[3].text
len(city)

7

In [23]:
for i in range(0,len(city)):
  each_user_rating_place=s.find_all("div",{"class":"social-section-review-ReviewSection__review--1bQxT social-section-review-ReviewSection__linked--kI3zg"})
  rate=0
  x1=each_user_rating_place[i]
  if x1.find("span",{"class":"ui_bubble_rating bubble_50"}):
      rate=5
  elif x1.find("span",{"class":"ui_bubble_rating bubble_40"}):
      rate=4
  elif x1.find("span",{"class":"ui_bubble_rating bubble_30"}):
      rate=3
  elif x1.find("span",{"class":"ui_bubble_rating bubble_20"}):
      rate=2
  elif x1.find("span",{"class":"ui_bubble_rating bubble_10"}):
      rate=1
  city=s.find_all("div",{"class":"social-poi-POIObject__poi_location--3hevu social-poi-POIObject__with_bubble--bbi8o"})
  print(rate,  city[i].text)

4 Alappuzha, India
5 Kochi (Cochin), India
2 Jaisalmer, India
4 Jaisalmer, India
2 Jaisalmer, India
3 Jaisalmer, India
4 Srinagar, India

In [0]:
df_final=pd.DataFrame(columns=['User Name','profile link','place','rating'])

# Using for loop to combine the above

In [0]:
for j in range(0,len(df_users_data)):
  dictionary_details={}
  # dictionary_details['User Name']=df_users_data.iloc[j,0]
  # dictionary_details['profile link']=df_users_data.iloc[j,1]

  l=df_users_data.iloc[j,1]
  r1=requests.get(l)
  c1=r1.content
  s1=BeautifulSoup(c1,"html.parser")

  for i in range(0,len(city)):
    dictionary_details['User Name']=df_users_data.iloc[j,0]
    dictionary_details['profile link']=df_users_data.iloc[j,1]


    each_user_rating_place=s.find_all("div",{"class":"social-section-review-ReviewSection__review--1bQxT social-section-review-ReviewSection__linked--kI3zg"})
    rate=0
    x1=each_user_rating_place[i]
    if x1.find("span",{"class":"ui_bubble_rating bubble_50"}):
        rate=5
    elif x1.find("span",{"class":"ui_bubble_rating bubble_40"}):
        rate=4
    elif x1.find("span",{"class":"ui_bubble_rating bubble_30"}):
        rate=3
    elif x1.find("span",{"class":"ui_bubble_rating bubble_20"}):
        rate=2
    elif x1.find("span",{"class":"ui_bubble_rating bubble_10"}):
        rate=1
    city=s.find_all("div",{"class":"social-poi-POIObject__poi_location--3hevu social-poi-POIObject__with_bubble--bbi8o"})

    dictionary_details['place']=city[i].text
    dictionary_details['rating']=rate

    
    df_final=df_final.append(dictionary_details,ignore_index=True)

In [27]:
df_final.head(5)

Empty DataFrame
Columns: [User Name, profile link, place, rating]
Index: []